{% extends 'base.html.twig' %}

{% block body %}

    <h1>My List of contact</h1>
    <h2>{{ card.name }}</h2>
    <h2>{{ card.email }}</h2>
    <h2>{{ card.email }}</h2>

    <div>

    </div>

{% endblock %}